{% extends 'Admin Page.html' %}
{% block body %}
<form method="POST">
			
	{% csrf_token %}			
    <table align="center">

            <td>
        <label>Brand Name</label></td><td>
        <input type="text" required="" name="cat_name"value=" " class="textbox"></td>
    </td>
    

<tr>
    <td>
<input type="submit" value="ADD" name="ADD" class="but"/>
</td>
</tr>
</table>
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
<br/>
<br/>
<table class="customers">
    <tr>
            <th>ID</th>
            <th>Category</th>
            
            <th></th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.0}}</td>
        <td>{{d.1}}</td>
       
        <td><a href="/AdminRemoveBrand/?id={{d.0}}">Remove</a></td>
    </tr>

    {% endfor %}
    </table>  
</form>
{% endblock %}