{% extends 'Club Page.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="row" >				
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>ID</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Vehicle</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Customer</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Mobile</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b></b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b></b></div>
    </div>
    {% for d in data %}
    <div class='row' >
        <div class='col-md-2' style='border-style: ridge;'>{{d.0}}</div>
        <div class='col-md-2' style='border-style: ridge;'>{{d.1}}</div>
        <div class='col-md-2' style='border-style: ridge;'>{{d.4}}</div>
        <div class='col-md-2' style='border-style: ridge;'>{{d.3}}</div>
        <div class='col-md-2' style='border-style: ridge;'><a href='/ClubViewBooking/?id={{d.0}}&st=Accept&mo={{d.3}}'>Accept</a></div>
        <div class='col-md-2' style='border-style: ridge;'><a href='/ClubViewBooking/?id={{d.0}}&st=Reject&mo={{d.3}}'>Reject</a></div>
        
    </div>
</form>
{% endfor %}
{% endblock %}