{% extends 'Shop Page.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="row" >
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Product ID</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Product Name</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Product Price</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Stock</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Update</b></div>
        <div class="col-md-2" style="border-style: ridge;background-color:#0273dd;color: white;"><b>Delete</b></div>
    </div>
    {% for d in data %}
    <div class='row' >
        <div class='col-md-2' style='border-style: ridge;'>{{d.0}}</div>
        <div class='col-md-2' style='border-style: ridge;'>{{d.3}}</div>
        <div class='col-md-2' style='border-style: ridge;'>{{d.4}}</div>
        <div class='col-md-2' style='border-style: ridge;'>{{d.5}}</div>
        <div class='col-md-2' style='border-style: ridge;'><a href='/ShopUpdateProduct?id={{d.0}}'>Update</a></div>
        <div class='col-md-2' style='border-style: ridge;'><a href='/ShopRemoveProduct?id={{d.0}}'>Delete</a></div>
    </div>
</form>
{% endfor %}
{% endblock %}